<li>
    {{name}}

    <button class="devour-burger" data-id="{{id}}" data-newburger="{{devour}}">
        {{#if devour}}Burp!{{else}}Eat!{{/if}}
    </button>
    <button class='js-delete' data-id='{{id}}'>Fat Boy</button>
</li>